*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

main{

}

#header{
        height: 46px;
        background-color: #000;
        position: fixed;
        top:0px;
        right: 0;
        left: 0;
        z-index: 1;

}

.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.clear{
    clear: both;
    content: " ";
    display: block;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}
.col-full{
    width: 100%;    
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.3333%;

}
#nav{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}
#nav .subnav li:hover,
#nav>li:hover>a{
    color:#000;
    background-color: #ccc;
    display: inline-block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav>li>a{
    text-transform: uppercase;
}
#nav .subnav a{
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li{
    width: 100%;
}

#nav >li {
    display: inline-block;
}
#sub,.subnav{
    list-style-type: none;

}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right; 
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
        margin-top: 46px;
        background: url('/assets/slider/chicago.jpg') center top / cover no-repeat;
        padding-top: 50%;
        position: relative;
}
#slider .text-content{
            position: absolute;
            bottom: 32px;
            color: #fff;
            width: 100%;
            text-align: center;
            
}
#slider .text-heading{
            padding: 25px 0;
            font-weight: 500;
            font-size: 24px;

}
#slider .text-descristion{
            font-size: 15px;
}
#content{

}
#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto ;
}

#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
     text-align: center;
     font-size: 15px;
     margin-top: 25px;
     font-style: italic;
     opacity: 0.6;
}

#content .about-text{
     font-size: 15px;
     margin-top: 25px;
     text-align: justify;
     line-height: 1.4;
}
#content .members-list{
    margin-top: 48px;
}

#content .members-name{
    margin: 15px 0;
    font-size: 15px;
}

#content .members-img{
    font-size: 15px;
    width: 154px;
}
.clear{
       clear: both;
}
.tour-section{
    background-color: #000;

}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    color:#757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: #ddd;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quality{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.place-list{
    float:left;
    margin-top: 32px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px );
    min-height: 200px;
    position: relative;
    animation: modaFadeIn ease 0.5s ;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-ticket{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-ticket:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196f3;
}
.modal.open{
    display: flex !important;
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc ;
    width: 100%;
}
.btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    border: none;
}
.map-section img{
    width: 100%;
}
#footer{
          padding: 64px 16px;
          text-align: center;
}
#footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
 @keyframes modaFadeIn{
    from{
        opacity: 0;
          transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
 }   
